@model UpdateFeaturesDto
@{
    ViewData["Title"] = "UpdateFeature";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}



<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>Özellikler</h2>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12 mb-4">
                <!-- Simple Tables -->
                <div class="card">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary"> Özellik Güncelleme Sayfası</h6>
                    </div>


                    <div class="container">
                        <br /><br />
                        <form method="post">
                            <input type="hidden" asp-for="featureId" />
                            <label>Başlık 1</label>
                            <input type="text" asp-for="title1" class="form-control" />
                            <br /><label>Başlık 2</label>
                            <input type="text" asp-for="title2" class="form-control" />
                            <br />
                            <label>Açıklama</label>
                            <input type="text" asp-for="description" class="form-control" />
                            <br />
                            <label>İcon</label>
                            <input type="text" asp-for="imageUrl" class="form-control" />
                            <br />

                        </form>
                    </div>
                </div>
                <br />
                <button class="btn btn-primary"> Kaydet</button>
            </div>
        </div>
    </div>
</div>




