@model CreateAboutFeaturesDto
@{
    ViewData["Title"] = "CreateAboutFeatures";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}




<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>Hakkımda </h2>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12 mb-4">
                <!-- Simple Tables -->
                <div class="card">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary"> Hakkımda Özellik Ekleme Sayfası</h6>
                    </div>


                    <div class="container">
                        <br /><br />
                        <form method="post">
                          
                            <label>Özellik</label>
                            <input type="text" asp-for="description" class="form-control" />
                            <br />
                           
                        </form>
                    </div>
                </div>
                <br />
                <button class="btn btn-primary"> Kaydet</button>
            </div>
        </div>
    </div>
</div>

