<div class="container-fluid footer py-5">
    <div class="container py-5">
        <div class="row text-center text-white">
            <p> M&Y Yazılım Eğitim Akademi Danışmanlık bünyesinde Asp.Net Core Web Api Kullanılarak Gerçekleştirilen 5.projedir.</p><br />
            API, Application Programming Interface (Uygulama Programlama Arayüzü) kelimelerinin kısaltmasıdır. Bir yazılımın veya bir servisin, diğer yazılımlar veya servisler tarafından kullanılmasını sağlayan bir arayüzdür.

        </div>
    </div>
</div>