<div class="container-fluid contact bg-light py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3">İletişim Bilgileri</h5>
            <h1 class="mb-0">Herhangi Bir Soru İçin İletişime Geçin</h1>
        </div>
        <div class="row g-5 align-items-center">
            <div class="col-lg-4">
                <div class="bg-white rounded p-4">
                    <div class="text-center mb-4">
                        <i class="fa fa-map-marker-alt fa-3x text-primary"></i>
                        <h4 class="text-primary"><Address></Address></h4>
                        <p class="mb-0">Sultangazi, <br> Türkiye,İstanbul</p>
                    </div>
                    <div class="text-center mb-4">
                        <i class="fa fa-phone-alt fa-3x text-primary mb-3"></i>
                        <h4 class="text-primary">Telefon</h4>
                        <p class="mb-0">+90 0555 444 33 22</p>
                        <p class="mb-0">+90 0666 555 44 33</p>
                    </div>

                    <div class="text-center">
                        <i class="fa fa-envelope-open fa-3x text-primary mb-3"></i>
                        <h4 class="text-primary">Email</h4>
                        <p class="mb-0">travella@gmail.com</p>
                        <p class="mb-0">travella@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <h3 class="mb-2">Bize Mesaj Gönder</h3>
                <p class="mb-4">The contact form is currently inactive. Get a functional and working contact form with Ajax & PHP in a few minutes. Just copy and paste the files, add a little code and you're done. <a href="https://htmlcodex.com/contact-form">Download Now</a>.</p>
                <form method="post" class="Contactform">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" name="Name" class="form-control border-0" id="name" placeholder="Your Name">
                                <label for="name">İsim</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="email" name="Email" class="form-control border-0" id="email" placeholder="Your Email">
                                <label for="email">Mail</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" name="Subject" class="form-control border-0" id="subject" placeholder="Subject">
                                <label for="subject">Konu</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control border-0" name="Message" placeholder="Leave a message here" id="message" style="height: 160px"></textarea>
                                <label for="message">Mesaj</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">Mesaj Gönder</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12">
                <div class="rounded">
                    <iframe class="rounded w-100"
                            style="height: 450px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387191.33750346623!2d-73.97968099999999!3d40.6974881!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sbd!4v1694259649153!5m2!1sen!2sbd"
                            loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.all.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('.Contactform').submit(function (e) {
            e.preventDefault(); // Formun normal submit işlemini engeller

            var formData = $(this).serialize(); // Form verilerini alır

            $.ajax({
                type: "POST",
                url: "/Contact/Add", // Formun gönderileceği URL
                data: formData, // Form verileri
                success: function (response) {
                    if (response === "Ok") {
                        // SweetAlert2 ile başarılı iletişim kutusu göster
                        Swal.fire({
                            icon: 'success',
                            title: 'Mesaj Başarılı!',
                            text: 'Mesaj talebiniz alınmıştır.'
                        });
                    } if(response=="Hata"){
                        Swal.fire({
                            icon: 'error',
                            title: 'Mesaj Gönderilemedi!',
                            text: 'Tekrar Deneyiniz.'
                        });
                        // Eğer dönen yanıt "Ok" değilse, başka bir işlem yapabilirsiniz
                    }
                },
                error: function (xhr, status, error) {
                    // Hata olduğunda yapılacak işlemler
                    console.log("Mesaj oluşturulurken bir hata oluştu");
                    console.log(xhr.responseText);
                    // Eğer gerekirse, hata mesajını kullanıcıya göstermek için burada bir işlem yapabilirsiniz.
                }
            });
        });
    });

</script>