
<div class="sidebar_user_info">
    <div class="icon_setting"></div>
    <div class="row ">
    <div class="user_profle_side col-lg-6">
        <div class="user_img">
            <img src="~/icons8d.png" style=" max-width: 30px;" />
            <img src="~/icons8m.png" style=" max-width: 30px;" />
            <img src="~/icons8b.png" style=" max-width: 30px;" />
        </div>
        <div class="user_info">
            <h6>@ViewBag.name @ViewBag.surname </h6>
            <p><span class="online_animation"></span> Online</p>
        </div>
        </div>
    </div>
</div>
