@model List<ResultAboutFeaturesDto>

      
            
       
    
               
                <div class="row gy-2 gx-4 mb-4">
            @foreach (var item in Model)
            {
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>@item.description</p>
                    </div>
                 
}
                </div>
               
          