
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<div class="container-fluid position-relative p-0">
    @await Component.InvokeAsync("_UILayoutNavbarComponents")


    <!-- Carousel Start -->
    @await Component.InvokeAsync("_UILayoutCarauselComponent")

    <!-- Carousel End -->
</div>

<div class="container-fluid search-bar position-relative" style="top: -50%; transform: translateY(-50%);">
    <div class="container">
        <div class="position-relative rounded-pill w-100 mx-auto p-5" style="background: rgba(19, 53, 123, 0.8);">
            <input class="form-control border-0 rounded-pill w-100 py-3 ps-4 pe-5" type="text" placeholder="Eg: Thailand">
            <button type="button" class="btn btn-primary rounded-pill py-2 px-4 position-absolute me-2" style="top: 50%; right: 46px; transform: translateY(-50%);">Ara</button>
        </div>
    </div>
</div>
<!-- Navbar & Hero End -->
<!-- About Start -->
@await Component.InvokeAsync("_UILayoutAboutComponents")
<!-- About End -->
<!-- Services Start -->
@await Component.InvokeAsync("_UILayoutServiceComponents")
<!-- Services End -->
<!-- Explore Tour Start -->
@await Component.InvokeAsync("_UILayoutCategoryCompenents")

<!-- Explore Tour Start -->
<!-- Packages Start -->
@await Component.InvokeAsync("_UILayoutDestinationCompnents")

<!-- Packages End -->

