@model List<ResultGaleryDto>
@{
    int count = 0;
}
<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>Galeri</h2>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row column4 graph">
            <!-- Gallery section -->
            <div class="col-md-12">
                <div class="white_shd full margin_bottom_30">
                    <div class="full graph_head">
                        <div class="heading1 margin_0">
                            <h2>Resimler</h2>
                        </div>
                    </div>
                    <div class="full gallery_section_inner padding_infor_info">
                        <div class="row">
                            @foreach (var item in Model)
                            {
                                count++;
                                <div class="col-sm-4 col-md-3 margin_bottom_30">
                                <div class="column">
                                    <a data-fancybox="gallery" href="images/layout_img/g1.jpg"><img class="img-responsive" src="@item.İmageUrl" alt="#" /></a>
                                </div>
                                <div class="heading_section">
                                    <h4>@count Resim</h4>
                                </div>
                            </div>
                            }
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer -->
        <div class="container-fluid">
            <div class="row">
                <div class="footer">
                    <p>Copyright © 2018 Designed by html.design. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- end dashboard inner -->
</div>